.frame{
	position: relative;
    text-align: left;
    margin: 15px auto 0px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-color: #dfdfdf #dfdfdf #d7d9db #d7d9db;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.pure-text {
    background-color: #D7EAFA;
    font-size: 13px;
    font-weight: bold;
    line-height: 180%;
    margin: 3px 0;
    padding: 9px;
    color: #434343;
    border: 1px solid #bfd5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.submit-button {
    float: right;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    margin-top: 3px;
    color: #fff;
    border: 1px solid #636363;
    background-color: #636363;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;

}