.menu-btn{
    background-color: #E1EBF9;
    border: hidden;
    border-left: 4px solid #C2B5B5;
    margin: 2px auto;
    font-size: 16px;
}

.menu-btn:hover{
    background-color: #B2CCF2;
}

.selection-btn{
    background-color: #1EABF4;
    color: white;
    /* border-radius: 5px; */
    border: hidden;
    font-size: 20px;
    width:45%;
    margin: 1% 2%;  
}

.selection-btn:hover{
    background-color: #5FC2F5;
}