
.menu-btn:hover, onclick{
    background-color: #B2CCF2;
}

.btn-style {
    background-color: #212130;
    display:inlin-block;
    width: 10%;
    border-radius: 50%;
    border: hidden;
    vertical-align: middle;
}

/* button */
.add-img-style {
    background-color: #212130;
    width: 80%;
    border-radius: 50%;
}

.delete-img-style {
    background-color: #212130;
    width: 80%;
    border-radius: 50%;
}
.add-img-style:hover {
    background-color: #a3dbab;
} 


.delete-img-style:hover {
    background-color: #c1dfec;
}



/* start & clear */
.selection-btn {

    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    width: 47%;
    /* border-radius: 3%; */

    background-color: #212130; 
    border: 2px solid #008CBA;
}

.selection-btn:hover {
    background-color: #008CBA;
    color: white;
}

.clear-btn {
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    width: 47%;
    background-color: #212130; 
    border: 2px solid #f44336;
}

.clear-btn:hover {
    background-color: #f44336;
    color: white;
}

.download-btn {
    color: black;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
    transition-duration: 0.4s;
    cursor: pointer;

    width: 15%;
    background-color: grey; 
    border: 2px solid #e7e7e7;
}

.download-btn:hover {
    background-color: #e7e7e7;
    color: black;
}

.query-btn {
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
    transition-duration: 0.4s;
    cursor: pointer;

    /* width: 15%; */
    background-color: #008CBA; /* Peter: #3388FF */
    border: 2px solid #008CBA; /* Peter: #3388FF */
}

.query-btn:hover {
    background-color: #212130;
    color: white;
}

/* .custom-tab {
    font-size: 20px;
    color: #2399E7;
    background: #f9f9f9;
    border-color: #2399E7;
    border-right: #2399E7;
    border-top: hidden;
    border-bottom: hidden;
}
.custom-tab--selected {
    font-size: 20px;
    color: white;
    background-color: #2399E7;
    border-color: #2399E7;
    border-right: #2399E7;
    border-top: hidden;
    border-bottom: hidden;
} */
